:root {
  --accent-text-color: #2196f3;
  --primary-text-color: #212121;
  --hero-text-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --primary-background-color: #ffffff;
  --accent-background-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

ul {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link:active {
  color: purple;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-text-color);
}

.contacts:active {
  color: purple;
}

.contacts {
  color: var(--secondary-text-color);
}

/* hero */
.hero-title {
  color: var(--hero-text-color);
}

.order-link {
  color: var(--hero-text-color);
}

/* section quolity*/

.quolity-caption {
  color: var(--hero-text-color);
}

.quolity-title {
  color: var(--primary-text-color);
}

.quolity-text {
  color: var(--secondary-text-color);
}

.service-title {
  color: var(--primary-text-color);
}

.service-text {
  color: var(--hero-text-color);
}

.staff {
  background-color: var(--secondary-background-color);
}

.captions {
  color: var(--primary-text-color);
}

.staff-title {
  color: var(--primary-text-color);
}

.staff-text {
  color: var(--secondary-text-color);
}

.social-links a {
  color: var(--secondary-text-color);
}
.social-links a:hover,
.social-links a:focus {
  color: var(--accent-text-color);
}

.clients-link a:hover,
.clients-link a:focus {
  color: var(--accent-text-color);
}
